.trueAnswer {
    color: forestgreen;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid darkslateblue;
    background-color: ivory;
    font-size: 20px;
    color: darkslateblue;
    font-family: serif;
}

table th {
    padding: 5px;
    background-color: ivory;
}

table td {
    padding: 5px;
    border: 1px solid darkslateblue;
    background-color: lemonchiffon;
}


h1 {
    color: darkslateblue;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: serif;
}

h2 {
    color: darkslateblue;
    text-align: center;
    font-size: 30px;
    font-family: serif;
}

.table-answers {
    width: 100%;
    text-align: left;
    background-color: ivory;
    border: 0;
}

.table-answers td {
    background-color: ivory;
    border: 1px solid darkslateblue;
    box-shadow: 0 0 2px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete {
    background-color: tomato;
}

.delete-answer {
    background-color: tomato;
    padding: 1px 15px;
}

.edit {
    background-color: forestgreen;
}

.add {
    background-color: darkslateblue;
    font-size: 30px;
    font-family: serif;
}

.delete-td {
    width: 100px;
}

.lemons-background {
    background: url(../img/lemon.jpg);
}

fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid darkslateblue;
    background-color: ivory;
    font-size: 20px;
    color: darkslateblue;
    font-family: serif;
}

input[type=text], input[type=submit] {
    width: 80%;
}

.input-add {
    width: 89%;
}

.input-submit {
    width: 100%;
}

.input-options {
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset .alert {
    color: tomato;
}

fieldset .radio {
    margin-left: 0;
}

.score {
    color: forestgreen;
    font-size: 70px;
    margin-top: 10px;
}

