.trueAnswer {
    color: forestgreen;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    background-color: whitesmoke;
    font-size: 20px;
    color: black;
    border-radius: 25px;
    padding: 5px 5px;
    text-align: center;
}

table th {
    padding: 5px 5px;
}

table td {
    padding: 5px;
    border: 1px solid gold;
    background-color: gold;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}


h1 {
    color: gold;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: serif;
}

.main {
    margin-top: 30px;
    font-size: 200px;
}

h2 {
    color: darkslateblue;
    text-align: center;
    font-size: 30px;
    font-family: serif;
}

.table-answers {
    width: 100%;
    background-color: revert;
    border: 0;
}

.table-answers td {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.button {
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.width {
    min-width: 280px;
}

.delete {
    background-color: tomato;
}

.delete-answer {
    background-color: tomato;
    padding: 1px 15px;
}

.edit {
    background-color: forestgreen;
}

.add {
    background-color: gold;
    font-size: 30px;
    font-family: serif;
}

.delete-td {
    width: 100px;
}

.lemons-background {
    background-size: contain;
    background: url(../img/owl.jpg);
}

fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    background-color: whitesmoke;
    font-size: 20px;
    color: black;
    font-family: serif;
    border-radius: 25px;
}

input[type=text] {
    border-radius: 25px;
    padding: 10px 10px;
    border-color: black;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

input[type=submit] {
    box-sizing: content-box;
    padding: 15px 25px;
    outline: none;
}

.input-add {
    width: 90%;
}

.input-question {
    width: 80%;
}

.input-submit {
    width: 100%;
}

.input-options {
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset .alert {
    color: tomato;
}

fieldset .radio {
    margin-left: 0;
}

.score {
    color: forestgreen;
    font-size: 70px;
    margin-top: 10px;
}

.btn {
    text-align: left;
    padding-left: 160px;
}

.add-answer {
    color: black;
    border-radius: 25px;
    border-color: black;
    background-color: white;
    outline: none;
}