<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Добавить новый вопрос</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="lemons-background">
<h1>Добавить вопрос:</h1>

<form th:action="@{/ui/questions/save}"
      th:object="${questionForm}"
      th:method="POST">
    <fieldset>
        <legend>&#10022;</legend>
        Вопрос:
        <label>
            <input class="input-question" type="text" th:field="*{question}"/>
        </label>
        <br/>
        <div th:if="${#fields.hasGlobalErrors()}">
            <li class="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</li>
        </div>
        <ul th:if="${#fields.hasErrors('question')}">
            <li class="alert" th:each="err : ${#fields.errors('question')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <br/>
        Ответы:
        <div id="answers-list">
            <div th:each="answer, rowStat : *{answers}" class="answer-form">
                <label>
                    <input class="input-add" type="text" th:field="*{answers[__${rowStat.index}__].value}"/>
                </label>
                <label>
                    <input class="input-options" type="checkbox" th:field="*{answers[__${rowStat.index}__].isTrue}"/>
                </label>
                <ul th:if="${#fields.hasErrors('answers[__${rowStat.index}__].value')}">
                    <li class="alert" th:each="err : ${#fields.errors('answers[__${rowStat.index}__].value')}"
                        th:text="${err}">Input is incorrect
                    </li>
                </ul>
            </div>
            <ul th:if="${#fields.hasErrors('answers')}">
                <li class="alert" th:each="err : ${#fields.errors('answers')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <br/>
        <div id="parentElement" class="row text-right">
            <button class="add-answer" onclick="return addInputLine();" name="addInputLine-btn">Добавить еще один
                ответ
            </button>
        </div>
        <p class="alert" th:if="${error != null}" th:text="${error}"></p>
    </fieldset>
    <br/>
    <br/>
    <br/>
    <div class="btn">
        <input class="button add width" type="submit" value="&#10022; Сохранить &#10022;"/>
    </div>
    <br/>
    <div class="btn">
        <a class="button add width" th:href="@{/}">&#10022; В начало &#10022;</a>
    </div>
</form>
<script type="text/javascript">
    function addInputLine() {
        let answersListEl = document.getElementById("answers-list");
        let div = document.createElement('div');
        let currentCount = answersListEl.getElementsByClassName('answer-form').length;
        div.className = 'answer-form';
        div.innerHTML = '<input class="input-add" type="text" name="answers[' + currentCount + '].value" />\n' +
            '<input class="input-options" type="checkbox" name="answers[' + currentCount + '].isTrue" value="true" />\n' +
            '<input type="hidden" name="_answers[' + currentCount + '].isTrue" value="on"/>' +
            '<input hidden type="text" name="answers[' + currentCount + '].questionId" />';
        answersListEl.appendChild(div);
        return false;
    }
</script>
</body>
</html>