<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="lemons-background">
<h1 class="main">Quizzz</h1>
<div class="btn">
    <a class="button add width" th:href="@{/ui/questions/}">&#10022; Добавить вопрос &#10022;</a>
</div>
<br/>
<div class="btn">
    <a class="button add width" th:href="@{/ui/questions/all}">&#10022; Список вопросов &#10022;</a>
</div>
<br/>
<div class="btn">
    <a class="button add width" th:href="@{/ui/game/play}">&#10022; Играть &#10022;</a>
</div>
</body>

</html>