<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Question List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="questions">
<h1>Список вопросов</h1>
<div>
    <table>
        <tr>
            <th>Вопрос</th>
            <th>Ответы</th>
            <th></th>
        </tr>
        <tr th:each="question:${questions}">
            <td th:utext="${question.question}">Question</td>
            <td>
                <table class="table-answers">
                    <tr>
                        <td th:each="answer:${question.answers}"
                            th:utext="${answer.getValue()}"
                            th:class="${answer.getIsTrue()} ? 'trueAnswer' : '' ">Answers
                        </td>
                    </tr>
                </table>
            </td>
            <td class="delete-td"><a th:href="@{/ui/questions/delete(questionId=${question.id})}" class="button delete">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br/>
<div style="text-align: center">
    <a th:href="@{/ui/questions/}" class="button add">Добавить вопрос</a>
</div>
</body>
</html>