<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Question List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="lemons-background">
<h1>Список вопросов</h1>
<div>
    <table>
        <tr>
            <th>Вопрос</th>
            <th>Ответы</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="question:${questions}">
            <td th:utext="${question.question}">Question</td>
            <td>
                <table class="table-answers">
                    <tr>
                        <td th:each="answer:${question.answers}"
                            th:utext="${answer.getValue()}"
                            th:class="${answer.getIsTrue()} ? 'trueAnswer' : '' ">Answers
                        </td>
                    </tr>
                </table>
            </td>
            <td class="delete-td"><a th:href="@{/ui/questions/delete(questionId=${question.id})}" class="button delete">Удалить</a>
            </td>
            <td class="delete-td"><a th:href="@{/ui/questions/edit(questionId=${question.id})}" class="button edit">Изменить</a>
            </td>
        </tr>
    </table>
</div>
<br/>
<div class="btn">
    <a class="button add width" th:href="@{/ui/questions/save}">&#10022; Добавить вопрос &#10022;</a>
</div>
<br/>
<div class="btn">
    <a class="button add width" th:href="@{/}">&#10022; В начало &#10022;</a>
</div>
</body>
</html>